@model IEnumerable<TheSchoolManagementSystem.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
    int sn = 1; 
}

<div class="row my-3">
    <div class="col-12" style="text-align: right;">
        <a asp-action="CreateSubject" class="btn btn-success">Create New Subject</a>
    </div>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Subject Name</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@(sn++)</td>
                <td>@subject.SubjectName</td>
                <td>@subject.Teacher?.FirstName @subject.Teacher?.LastName</td> <!-- Assuming Teacher has FirstName and LastName properties -->
                <td>
                    <a asp-action="EditSubject" asp-route-id="@subject.SubjectId" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteSubject" asp-route-id="@subject.SubjectId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

